<div class="header">

    <!-- Body -->
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">


          <!-- Title -->
          <h1 class="header-title">
            <%= @genre.title %>
            <%= link_to edit_genre_path(@genre) do %>
              <i class="mx-2 fa fa-edit"></i> 
            <% end %>
          </h1>

        </div>
        
      </div>
    </div> 

    <!-- Footer -->
    <div class="header-footer">


    </div>

</div>

<p>
  <strong>Title:</strong>
  <%= @genre.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @genre.description %>
</p>
