
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Chào,  <%= @invitation.email %></h1>
    <p>
     Bạn vừa nhận được một bài nhạc mới, mã pin của bạn là: <%= @invitation.pin %>.<br>
    </p>
    <p>
  </body>
</html>
