<h1>Singers</h1>
<div class="container-fluid d-flex justify-content-end mb-3">
  <%= link_to 'New Singer', new_singer_path, class: "btn btn-primary" %>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-lg list-group-flush list my-n4">
            
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
