buildings<div class="main-content">
  <!-- HEADER -->
  <div class="header">
    <div class="container-fluid">

      <!-- Body -->
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">
            <!-- Title -->
            <h1 class="header-title">
              Schedule
            </h1>

          </div>
          <div class="col-auto">

            

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .header-body -->

    </div>
  </div> <!-- / .header -->

  <%# Alerts %>
  
  <!-- CARDS -->
  <div class="container-fluid">
    <div class="row"></div>
  </div>
</div>